<%= form_with(model: idea, local: true) do |form| %>
  <% if idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
      <% idea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row row-flex">
    <div class="col-md-3"></div>
    <div class="col-md-6 form-group">
      
      <div class="col-md-2">
        <%= form.label :name %>
      </div>
      <div class="col-md-10">
        <%= form.text_field :name, class: "form-control" %>
      </div>
      <div class="col-md-2">
        </br>
        <%= form.label :description %>
      </div>
      <div class="col-md-10">
        </br>
        <%= form.text_area :description, class: "form-control" %>
      </div>
      <div class="col-md-2">
        </br>     
        <%= form.label :picture %>
      </div>
      <div class="col-md-10">
        </br>
        <%= form.file_field :picture, id: :idea_picture %>
      </div>
      <div class="col-md-12">
        </br>
        <center><%= form.submit "Create Idea", class:" btn btn-success" %></center>
        
      </div>
    </div>

  </div>
  
<% end %>
